<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorInterval="1800">

    <properties>
        <property name="logPath">/var/logs/euler-framework</property>
        <property name="logFileName">euler-logs</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d - %msg [%t] %l %n" />
        </Console>

        <RollingRandomAccessFile name="ErrorLog"
            fileName="${logPath}/${logFileName}.log"
            filePattern="${logPath}/${logFileName}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p %d - %msg [%t] %l%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>

    </Appenders>
    
    <loggers>
        <root level="warn">
            <appender-ref ref="ErrorLog"/>
            <appender-ref ref="Console" />
        </root>
        <logger name="net.eulerframework" level="info" />
    </loggers>
</configuration>
